/Laboratorios2/Laboratorios2/nbproject/private/
/Laboratorios1/nbproject/private/
/Laboratorios1/build/
/Laboratorios1/dist/
/Parcial1/nbproject/private/
/Parcial1/JavaApplication4/nbproject/private/
/Parcial1/JavaApplication4/build/
/Parcial1/JavaApplication4/dist/
/Parcial1/build/
/Parcial1/dist/
/Laboratorio2/nbproject/private/
/Laboratorio2/build/
/Parcial1/Parcial2/nbproject/private/
/Parcial2/nbproject/private/
/sqltest/nbproject/private/
/sqltest/build/
/Sqltest/nbproject/private/
/Sqltest/build/
/Javaapp/target/
/sql/nbproject/private/
/sql/build/
/Parcial2/build/
/Parcial2/dist/
/Laboratorio2/dist/
/ManejoDeArhivos/nbproject/private/
/JavaApplication9/nbproject/private/
/Proyecto1/build/
