/Laboratorios2/Laboratorios2/nbproject/private/
/Laboratorios1/nbproject/private/
/Laboratorios1/build/
/Laboratorios1/dist/
/Parcial1/nbproject/private/
/Parcial1/JavaApplication4/nbproject/private/
/Parcial1/JavaApplication4/build/
/Parcial1/JavaApplication4/dist/
/Parcial1/build/
/Parcial1/dist/
/Laboratorio2/nbproject/private/
/Laboratorio2/build/
